<% unless @projects.empty? %>
<div class="row margin-bottom">
	<div class="span12">
		<div class="btn-group pull-left">
			<a href="/admin" class="btn"><%= @projects.get(@current_project).title %></a>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
			<% @projects.each do |project| %>
				<li><a href="/admin/project/switch/<%=project.id %>"><%=project.title %></a></li>
				<% end %>
			</ul>
		</div>
		<a href="/admin/project/add" class="btn pull-right">Add Project</a>
	</div>
</div>
<% end %>