<form action="/admin/project/add" method="post">
	<p>
		<label for="title">Project Title:</label>
		<input type="text" name="title" value="">
	</p>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Add Project</button>
	</div>
</form>