<div class="hero-unit">
	<h2>Hello, IT. Have you tried forcing an unexpected reboot?</h2>
	<p><a href="/signin" class="btn btn-primary btn-medium">Sign In</a> <a href="/signup" class="btn btn-medium">Sign Up</a></p>
</div>