<form action="/signin" method="post">
	<p>
		<label for="email">Email Address:</label>
		<input type="text" name="email" value="">
	</p>
	
	<p>
		<label for="email">Password:</label>
		<input type="password" name="password" value="">
	</p>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Sign In</button>
	</div>
</form>